version: '3.8'

services:
  # Baza danych PostgreSQL
  db:
    image: postgres:15-alpine
    container_name: cruiu_db
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password123
      POSTGRES_DB: cruiu_db
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  # Adminer - interfejs www do bazy 
  adminer:
    image: adminer
    container_name: cruiu_adminer
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - db

volumes:
  postgres_data: