version: '3.8'

services:
  # 1. BAZA DANYCH
  db:
    image: postgres:15-alpine
    container_name: cruiu_db
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password123
      POSTGRES_DB: cruiu_db
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

  # 2. BACKEND (NestJS + Prisma)
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: cruiu_backend
    restart: always
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: "postgresql://user:password123@db:5432/cruiu_db?schema=public"
    depends_on:
      - db
    command: /bin/sh -c "npx prisma migrate deploy && npx prisma db seed && npm run start:dev"
    networks:
      - app-network

  # 3. FRONTEND (React + Vite)
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: cruiu_frontend
    restart: always
    ports:
      - "5173:5173"
    environment:
      VITE_API_URL: "http://localhost:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend
    networks:
      - app-network

  # 4. ADMINER (Interfejs WWW)
  adminer:
    image: adminer
    container_name: cruiu_adminer
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - db
    networks:
      - app-network

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge